<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="shortcut icon" type="image/png" href="/img/favicon.png"/>

    <title>ENS - Chat</title>
</head>
<body>
<header class="site-header">
    <a href="/"><h1 class="site-logo">E+.Net</h1></a>
    <nav class="nav-bar">
        <span>
            <a href="/">Accueil</a>
            <a href="/chat" id="selected">Salon</a>
            <a href="/poster">Poster</a>
        </span>
        <span>
            <a href="/login">Login</a>
        </span>
    </nav>
</header>
<main class="container">
    <div class="chat-app">
        <aside class="chat-aside">
            <h1>Connected:</h1>
            <ul>
            </ul>
        </aside>
        <div class="chat-container">
            <div class="chat-messages"></div>
            <form action="/" method="post" class="chat-form">
                <input type="text"><button type="submit">Envoyer</button>
            </form>
        </div>
    </div>
</main>
<script src="socket.io/socket.io.js"></script>
<script src="js/client.js"></script>
</body>
</html>