<%- include('header') %>
<header class="site-header">
    <a href="/"><h1 class="site-logo">E+Net</h1></a>
    <nav class="nav-bar">
        <span>
            <a href="/">Acceuil</a>
            <a href="/chat">Salon</a>
            <a href="/poster">Poster</a>
        </span>
        <span>
            <a href="/login">Login</a>
        </span>
    </nav>
</header>
<main class="container">
    <% if(message){ %> 
        <div class="status-message" id=<%= color %>><p><%=message%></p></div>
    <% } %> 
    <div class="form-container">
        <header class="form-header">
            <h1>Identifiez-vous pour écrire un post</h1>
        </header>
        <form class="upload-form" method="POST" autocomplete="off" action="/login">
            <div class="user-area">
                <h3>S'IDENTIFIER</h3>
                <div>
                    <input class="form-input" name="username" type="text" placeholder="Nom d'utilisateur">
                    <input class="form-input" name="password" type="password" placeholder="Mot de passe">
                </div>
            <button id="submit" type="submit">Login</button>
        </form>
    </div>
</main>
<%- include('footer') %>